<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/youtube.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<meta charset="utf-8">
<title>유튜브</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
        $('.contents').slick({
        	slide: 'div',		//슬라이드 되어야 할 태그 ex) div, li 
        	initialSlide : 0,
        	adaptiveHeigh : true, // 슬라이더 높이를 현재 슬라이드에 맞춤
			infinite : true, 	//무한 반복 옵션	 
			slidesToShow : 1,		// 한 화면에 보여질 컨텐츠 개수
			slidesToScroll : 1,		//스크롤 한번에 움직일 컨텐츠 개수
			speed : 100,	 // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
			arrows : false, 		// 옆으로 이동하는 화살표 표시 여부
			dots : true, 		// 스크롤바 아래 점으로 페이지네이션 여부
			autoplay : false,			// 자동 스크롤 사용 여부
			autoplaySpeed : 10000, 		// 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
			pauseOnHover : true,		// 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
			vertical : false,		// 세로 방향 슬라이드 옵션
			prevArrow : "<button type='button' class='slick-prev'>Previous</button>",		// 이전 화살표 모양 설정
			nextArrow : "<button type='button' class='slick-next'>Next</button>",		// 다음 화살표 모양 설정
			dotsClass : "slick-dots", 	//아래 나오는 페이지네이션(점) css class 지정
			draggable : true, 	//드래그 가능 여부 
			
			responsive: [ // 반응형 웹 구현 옵션
			     {  
			            breakpoint: 960, //화면 사이즈 960px
			            settings: {
			              //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
			              slidesToShow:1
			      		}
			     },
			]

        });  
        // 휠업/휠다운 이벤트로 페이지 넘기는 함수
        $('.contents').on('wheel', function(e) {
        	  e.preventDefault();
        	  if (e.originalEvent.deltaY < 0) {
        	    $(this).slick('slickPrev');
        	  } else {
        	    $(this).slick('slickNext');
        	  }	  
        });
        
        // refresh 없으면 안됨!(새로고침 후 다시 불러오기)
        $('.contents').slick('refresh');
        
});
</script>
</head>
<body style="background-color: rgba(255, 255, 255, 0.7);">
	<div id="youtubeContent flex space-y-24" style="height:820px;">
		<div style="width: 50%;height:800px;float: right;">
    		<div class="search-box" style="height:800px;margin:10px;">			
				<div class="flex flex-col items-center space-y-4" align="center" 
				style="height:800px;border:rgba(0,0,0,0.1) solid 3px;">
					<form action="/api/getYoutube">
        				<img src="/image/backpacker.jpg" width="400px" height="300px" alt="Logo" class="h-20" style="margin-top: 10px;">
        				<div class="text-center" align="center">
          					<h1 class="text-2xl font-bold" style="font-family: 'Roboto', sans-serif;">어디로</h1> <br>
          					<h1 class="text-6xl font-bold travel" style="font-family: 'Roboto', sans-serif;">여행 </h1><br>
          					<h1 class="text-2xl font-bold" style="font-family: 'Roboto', sans-serif;">가시게요?</h1>
          					<div class="mt-4" style="margin-bottom: 20px;">
            					<input type="text" name="cityName" placeholder="여행지 입력 (영문)" 
            					class="cityNameInput border-2 border-gray-300 p-4 rounded-lg text-lg w-96"
            					>				
          					</div>
          					<input type="submit" value="확인" style="font-size: 40px;" width="150px" height="60px">
        				</div>
        			</form>
      			</div>		
			</div>
		</div>
		<div align="center" style="
    	position: relative;
    	width: 50%;
    	height:800px;
    	float: left;">	
    		<div class="contents" style="margin:10px;border:rgba(0,0,0,0.1) solid 3px;height:800px;">			 
			<div class="c0" th:if="${status != null}" align="center" style="width:100%;">
				<h1 style="white-space:nowrap;" th:text="${status}"></h1>
			</div>	
			
			<div class="c1" th:if="${video0 != null}" align="center" style="width:100%;">
				<iframe width="100%" height="550px;"
					th:src="|https://www.youtube.com/embed/${video0}|" 
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen>
				</iframe>
			</div>
			<div class="c2" th:if="${video1 != null}" align="center" style="width:100%;">
				<iframe width="100%" height="550px;" th:src="|https://www.youtube.com/embed/${video1}|" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
			<div class="c3" th:if="${video2 != null}" align="center" style="width:100%;">
				<iframe width="100%" height="550px;" th:src="|https://www.youtube.com/embed/${video2}|" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>		
			</div>
			<div class="c4" th:if="${video3 != null}" align="center" style="width:100%;">
				<iframe width="100%" height="550px;" th:src="|https://www.youtube.com/embed/${video3}|"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>		
			</div>
			<div class="c5" th:if="${video4 != null}" align="center" style="width:100%;">
				<iframe width="100%" height="550px;" th:src="|https://www.youtube.com/embed/${video4}|" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>	 
		</div>	
				
	</div>
</body>
</html>