@charset "EUC-KR";

@font-face {
    font-family: 'myFont';
    src: url(./namum.ttf) format("ttf");
}

/* 전체 페이지에서 여백을 제거. */
* { 
	
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
	
	min-height: 100vh;
	
}

h1{
	
	font-size: 30px;
	
}

body{
	
	
	min-height: 100vh;
	background-image: url('../image/4882066.jpg');
	background-size: cover;
	
}

#dragdiv {
	
	width : 100%;
	height: 100vh;
	
}

#header{
	
	width: 100%;
	height: 10vh;
	
}

#navbar{
	
	font-family: myFont;
	font-size: 40px;
	width: 100%;
	height: 10vh;
	background-color: white;
	
}

/* index 페이지 slick slider 와 연결되는 페이지 크기*/
.slick-slider.slick-list{
	
	height:86vh;
		
}

/* index 페이지 메인 화면 크기*/
.slick-slide.slick-current.slick-active div{
	
	height:86vh;
	
}

.slick-track{
	
	height:86vh;
	
}

.headerCategory{
	
	width: 100%;
	height: 10vh;
	
}

.headerCategory .categoryTD{
	
	width:80%;
	
}

.headerCategory .memberTD{
	
	width:20%;
	
}
