@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.getAirDiv{
    
    font-family: 'Poppins', sans-serif;
    background: #008aff;
    width:100%;

}

.getAirTbl{

    width:100%;
    border:rgba(255, 255, 255, 1) solid 1px;
    background-color: rgba(255, 255, 255, 0.35);
    font-size:25px;

}

.getAirTr{

    border:rgba(255, 255, 255, 1) solid 1px;

}

.getAirTd{

    text-align: center;
    border:white solid 1px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);

}

.deleteButton{

    font-size: 17px;
    text-align: center;
    border:black 1px solid;
    border-radius: 3px;
    background-color: white;

}