@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: 'Poppins', sans-serif;
}

/* 전체 페이지에서 여백을 제거. */
* { 
	
	font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}