<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.main.place.FirstsMapper">
	<select id="getMyXY" resultType="com.travel.main.place.Firsts">
		select * from firsts ORDER BY id DESC LIMIT 1;
	</select>
</mapper>